In [1]:
%pip install yfinance

Requirement already satisfied: yfinance in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (0.2.12)
Requirement already satisfied: html5lib>=1.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: numpy>=1.16.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.24.2)
Requirement already satisfied: lxml>=4.9.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: pandas>=1.3.0 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (37.0.4)
Requirement already satisfied: requests>=2.26 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\memed\appdata\roaming\python\python39\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\memed\appdata\roaming\python\python39\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: pycparser in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd
from tickerData import *

In [3]:
hist_data = getTickerData(ticker="btc-usd", period="max", interval="1d")
hist_data

[*********************100%***********************]  1 of 1 completed

           Date          Open  ...     Adj Close       Volume
0    2014-09-17    465.864014  ...    457.334015     21056800
1    2014-09-18    456.859985  ...    424.440002     34483200
2    2014-09-19    424.102997  ...    394.795990     37919700
3    2014-09-20    394.673004  ...    408.903992     36863600
4    2014-09-21    408.084991  ...    398.821014     26580100
...         ...           ...  ...           ...          ...
3089 2023-03-03  23476.632812  ...  22362.679688  26062404610
3090 2023-03-04  22362.923828  ...  22353.349609  11166012913
3091 2023-03-05  22354.144531  ...  22435.513672  13317001733
3092 2023-03-06  22436.816406  ...  22429.757812  17353192895
3093 2023-03-07  22432.744141  ...  22162.968750  17168171008

[3094 rows x 7 columns]