In [9]:
%pip install yfinance finta

Requirement already satisfied: yfinance in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (0.2.12)
Collecting finta
  Downloading finta-1.3-py3-none-any.whl (29 kB)
Requirement already satisfied: html5lib>=1.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: requests>=2.26 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.24.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (37.0.4)
Requirement already satisfied: lxml>=4.9.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\memed\appdata\roaming\python\python39\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\memed\appdata\roaming\python\python39\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: pycparser in c:\users\memed\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: finta
Successfully installed finta-1.3
Note: you may need to restart the kernel to use updated packages.

In [18]:
import yfinance as yf
import pandas as pd
import numpy as np
from finta import TA
from tickerData import *
import warnings
warnings.filterwarnings('ignore')

In [10]:
df = getTickerData(ticker="btc-usd", period="max", interval="1d")
df.drop(columns={'Volume', 'Adj Close'}, inplace=True)
df.rename(columns={'Date':'date', 'Open':'open', 'High':'high','Low':'low', 'Close':'close'}, inplace=True)
df

[*********************100%***********************]  1 of 1 completed

           date          open          high           low         close
0    2014-09-17    465.864014    468.174011    452.421997    457.334015
1    2014-09-18    456.859985    456.859985    413.104004    424.440002
2    2014-09-19    424.102997    427.834991    384.532013    394.795990
3    2014-09-20    394.673004    423.295990    389.882996    408.903992
4    2014-09-21    408.084991    412.425995    393.181000    398.821014
...         ...           ...           ...           ...           ...
3089 2023-03-03  23476.632812  23479.347656  22213.238281  22362.679688
3090 2023-03-04  22362.923828  22405.177734  22198.980469  22353.349609
3091 2023-03-05  22354.144531  22613.685547  22307.142578  22435.513672
3092 2023-03-06  22436.816406  22584.292969  22331.314453  22429.757812
3093 2023-03-07  22432.744141  22522.318359  22080.279297  22295.833984

[3094 rows x 5 columns]

In [46]:
indicators = ['SMA', 'EMA', 'HMA', 'RSI', 'MACD', 'BBANDS']
df_i = df
for indicator in indicators:
    ind_data = eval('TA.' + indicator + '(df)')
    if not isinstance(ind_data, pd.DataFrame):
        ind_data = ind_data.to_frame()
    df_i = df_i.merge(ind_data, left_index=True, right_index=True)
df_i.rename(columns={"14 period EMV.": '14 period EMV'}, inplace=True)
df_i

,date,open,high,low,close,41 period SMA,9 period EMA,16 period HMA.,14 period RSI,MACD,SIGNAL,BB_UPPER,BB_MIDDLE,BB_LOWER
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,NaN,457.334015,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,NaN,439.059564,NaN,0.000000,-0.738007,-0.410004,NaN,NaN,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,NaN,420.918755,NaN,0.000000,-1.859626,-1.004111,NaN,NaN,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,NaN,416.848713,NaN,20.155072,-1.814822,-1.278742,NaN,NaN,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,NaN,411.485880,NaN,17.448333,-2.153494,-1.538961,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,2023-03-03,23476.632812,23479.347656,22213.238281,22362.679688,23227.257431,23313.757906,23051.605813,42.735439,161.802057,367.894964,25382.564541,23538.721094,21694.877647
3090,2023-03-04,22362.923828,22405.177734,22198.980469,22353.349609,23218.304592,23121.676247,22869.076891,42.664978,68.482518,308.012475,25312.569947,23566.978418,21821.386888
3091,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,23206.135861,22984.443732,22670.722499,43.547701,1.142890,246.638558,25229.658402,23598.349023,21967.039645
3092,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757812,23201.094131,22873.506548,22483.784127,43.497180,-52.088259,186.893195,25205.263359,23608.796680,22012.330001
3093,2023-03-07,22432.744141,22522.318359,22080.279297,22295.833984,23181.044731,22757.972035,22325.004476,42.268434,-103.883359,128.737884,25171.367073,23508.196289,21845.025505

In [50]:
df_i.isna().sum()

date               0
open               0
high               0
low                0
close              0
41 period SMA     40
9 period EMA       0
16 period HMA.    18
14 period RSI      1
MACD               0
SIGNAL             0
BB_UPPER          19
BB_MIDDLE         19
BB_LOWER          19
dtype: int64